/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*google fonts*/
body {
	font-family:  "Open sans", sans-serif;
}

/*navigation bar*/
/*1 rem=16px(default font size*/
nav{
	/*creates space from between the ul tag and nave element*/
	padding: 0.8rem;
	/*creates space between the nav and the intro section*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*margin vs.padding*/
/*margin is best use to create space between elements*/
/*padiing is best used when creating space between an elements border and its content*/

nav .nav, nav .nav-logo{
	/*creates space between the ul and the nav elements*/
	margin: 0.5rem;
	/*changes elements to inline elements*/
	display: inline;
}

#intro{
	/*creates space between the content of the intro section and its border*/
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	/*padding 2rem 10% 3rem*/
	text-align: center;
}

.header{
	/*best used when horizontally aligning text instead of using margin and padding*/
	text-align: center;
}

#intro h2, #intro p{
	/*creates space between the contents of the intro section*/
	margin-bottom:  1rem;
}

#intro button{
	color:  white;
	/*changes the thickness of text*/
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	/*creates space between the button text and the border*/
	padding: 1rem;
}
/*succeed info section*/
#succeed-info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}
#succeed-info h2{
	text-align: center;
	/*Creates space between the header and the card selection*/
	margin-bottom: 1rem;
}

#succeed-info h3{
	text-align: center;
	/*creates space between the h3 tags and the paragraph tags*/
	margin-bottom:  1 rem;
}

#succeed-info .card{
	/*allows the cards to appear beside each other*/
	display: inline-block;
	/*aligns element with the tallest element in line*/
	/*used with the "inline-block" value*/
	vertical-align: top;
	/*Allows for cards to have equal height that adjust with the content*/
	min-height: 175%;
	/*measurement is based on equally dividing the parent containers width*/
	/*only use 30% and not 33.33 because of the margin to avoid overflow and horizontally scrolling*/
	width: 30%;
	/*creates horizontal spacing between cards*/
	margin-left: 0.5rem;
	margin-right: 0.5rem
}
#pre-footer .contact{
	display: inline-block;
	vertical-align: bottom;
	min-height: 175%;
	width: 20%;
	margin-left: 1rem;
	margin-right: 1rem;
}
#pre-footer{
	background-color: midnightblue;
	color: white;
	padding: 1rem;
	margin-bottom: 1rem;
}
#pre-footer .contact{
	line-height: 2;
	
}
#terms{
	margin-bottom: 1rem;
	margin-left: 1rem;
	padding: 0.5rem;
	margin-left: 3rem;
	margin-right: 3rem;
}